# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
yarn-error.log

# Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db