html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #eb01ac;
}

.swiper-pagination-bullet {
  border-radius: var(--swiper-pagination-bullet-border-radius, 0%);
}
